<header><h2>Parking Lot System</h2></header>
<nav>
  <ul>
    <li><a routerLink="/lots" routerLinkActive="active-link">Parking Lots</a></li>
    <li><a routerLink="/entry" routerLinkActive="active-link">Vehicle Entry</a></li>
    <li><a routerLink="/active" routerLinkActive="active-link">Active Sessions</a></li>
    <li><a routerLink="/exit" routerLinkActive="active-link">Vehicle Exit</a></li>
    <li><a routerLink="/history" routerLinkActive="active-link">Parking History</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>